name: Sync to Hugging Face Spaces

on:
  push:
    branches: [main, master, Harshvardhan]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
          lfs: true

      - name: Install HuggingFace CLI
        run: pip install -U "huggingface_hub[cli]"

      - name: Upload to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_SPACE_NAME: ${{ secrets.HF_SPACE_NAME }}
        run: |
          # Use the CLI to upload the files directly, bypassing Git history issues
          python -m huggingface_hub.cli upload $HF_SPACE_NAME . . --repo-type space --token $HF_TOKEN --exclude ".git/*" ".github/*"
