name: Keep Hugging Face Space Alive

on:
  schedule:
    # Run every hour to keep the Space active
    - cron: '0 * * * *'
  workflow_dispatch: # Allow manual trigger

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Hugging Face Space
        run: |
          curl -I https://harshasnade-deepfake-detection-model.hf.space
          echo "Ping sent to wake up the space."
